:root{
    /*--main-color: #13005A;
    --second-color: #00337C;
    --inter-color: #1C82AD;
    --target-color: #03C988;
    --black: #000;
    --white: #fff;*/
    --main-color: #000000;
    --second-color: #150050;
    --inter-color: #3F0071;
    --target-color: #610094;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */
#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
}

#nav-menu div {
    height: 40px;
    width: auto;
}

#nav-menu .nav-menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-menu .nav-menu-list .nav-menu-item{
    margin: 0px 10px;
    padding: 10px;
    list-style: none;
    width: 90px;
    height: 40px;
    text-align: center;
    justify-items: center;
}

#nav-menu .nav-menu-list span{
    
    padding-top: 10px;
}

#nav-menu .nav-menu-list .nav-menu-item:hover{
    transition: .5s;
    background-color: var(--target-color);
}

#nav-menu .nav-menu-list .nav-menu-item a{
    text-decoration: none;
    color: var(--white);
    height: 100%;
}

/* Hero */
#hero{
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url("../img/corona-g35d9a55fd_1920.jpg");
    background-size: cover;
    color: var(--white);
}

#hero h1 {
    padding-top: 20px;
    font-size: 45px;
}

#hero p{
    padding-top: 260px;
    font-size: 28px;
    font-weight: bold;
}

/* Contenido */
.main-container{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
    

}

.main-container-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    width: 400px;
    height: 600px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--inter-color);
    box-shadow: 0px 0px 15px white;
    align-items: center;
}

.form-general{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 10px;
    justify-content: space-between;
    text-align: center;
}
.main-container-search{
    width: 400px;
    height: 150px;
}

.letras {
    font-weight: bold;
    font-size: 20px;
}

.main-container-form{
    width: 400px;
    height: 250px;
}

.main-container-form input{
    width: 100%;
    margin: 15px 0;
}
